/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
    }
    .kontakt-telefon {
        display: inline-block;
        text-align: center;
    }

/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    .logo { height: 50px; }
    .uvac-box { padding: 0 10px; }
    .marg { padding: 0 30px; }
    .contact-form { width: 80%; }
}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row,
    .hero-text-box { 
        padding: 0 4%; 
        top: 60%;
    }
    .col {width: 100%; }
    
    
    .main-nav { display: none;}
    .mobile-nav-icon { display: inline-block; }
    .language-link-mob img {
        width: 25px;
        height: 25px;
        display: inline-block;
        float: right;
        margin-top: 35px;
    }
    .language-link {
        visibility: hidden;
    }
    .main-nav { 
        float: left;
        margin-top: 25px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon i { color: #555; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    
    .rez { 
        margin: 1% 0 1% 1.6%;
        padding-top: 5px;
    }
    .logo { height: 45px; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    .photos-showcase li { width: 50% }
    .uvac-photo img { opacity: 1; }
    .mar { margin: 0; }
    .mar1 { margin: 0; }
    .social-links { 
        float: none;
        padding: 0;
    }
    .social-links { margin-left: 28%; }
    .uvac-box { padding: 0; }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
    .social-links { 
        padding: 0 5%;
        width: 100%;
        margin-left: 8%;
    } 
}





