/*
    Green color #27ae60
    Darker green #219251
*/

/* ------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #27ae60;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */

p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #27ae60;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #27ae60;
    font-size: 120%;
    margin-right: 10px;
    /*Secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 1px solid #27ae60;
    background-color: #27ae60;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #27ae60;
    color: #27ae60;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #219251;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #219251;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #219251;
    color: #fff;
}

/* ------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------ */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(img/beloglavi_sup.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(img/beloglavi_sup.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text-box h1:after {
    display: block;
    height: 2px;
    background-color: #27ae60;
    content: " ";
    width: 150px;
    margin: auto;
    margin-top: 30px;
}

.hero-text-box h2 {
    text-transform: none;
    color: #fff;
}

.hero-text-box h2:after {
    content: none;
}

.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 25px;
}

.logo-small {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 3px 0;
}

/* Main navi */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #27ae60;
}

.language-link a {
    position: relative;
    width: 50px;
    display: inline-block;
}

.language-link a img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: -3px;
}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .language-link {
    display: none;
}

.sticky .language-link-mob {display: none;}

.language-link-mob img {display: none;}

.sticky .main-nav { margin-top: 20px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 11px 0;
    color: #555;   
}

.sticky .logo { display: none; }
.sticky .logo-small { display: block; } 

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* ------------------------------------------------ */
/* MEALS */
/* ------------------------------------------------ */

.section-photos {
    padding: 0;
}

.photos-showcase {
    list-style: none;
    width: 100%;
}

.photos-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.uvac-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.uvac-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.uvac-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* ------------------------------------------------ */
/* UVAC */
/* ------------------------------------------------ */

.section-uvac {
    background-color: #f4f4f4;
}

.marg { padding: 0 150px; }

.uvac-box {
    padding: 0 20px;
    text-align: left;
}

/* ------------------------------------------------ */
/* UTISCI */
/* ------------------------------------------------ */

.section-utisci {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/utisci.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/utisci.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

/* ------------------------------------------------ */
/* FORM */
/* ------------------------------------------------ */

#kontakt { padding-bottom: 25px; }

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=phone],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    cursor: pointer;
}

*:focus {outline: none;}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.success { background-color: #26bf44; }

.error { background-color: #d12e2e; }

/* ------------------------------------------------ */
/* MAP */
/* ------------------------------------------------ */

.map {
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

#lokacija { padding: 55px 0 0 0; }
/* ------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------ */

footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;
}

.kont p { font-size: 100%; }

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    padding-top: 20px;
    padding-right: 50px;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #c9c9c9;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 200%;
}

.ion-social-facebook,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-instagram:hover {
    color: #dd4b39;
}

footer p {
    color: #c9c9c9;
    text-align: center;
    margin-top: 20px;
}

.tel {
    display: inline-block;
    vertical-align: text-top;
}

.logo-foother {
    height: 60px;
    width: auto;
    float: right;
    margin-top: 25px;
}

.social-links li {
    padding-right: 20px;
}







